<ion-list>
  <ion-item *ngFor="let pokemon of pokemons; trackBy: trackByFn" (click)="selectPokemon(pokemon.name)" detail="false" button>
    <ion-avatar slot="start">
      <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
    </ion-avatar>
    <ion-label>
      {{ pokemon.name | titlecase }}
    </ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll (ionInfinite)="onLoadMore($event)" [disabled]="!hasMore">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Carregando mais Pokémon...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>