<ng-container *ngIf="pokemon$ | async as pokemon; else loading">

  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ pokemon.name | titlecase }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>#{{ pokemon.id | number:'3.0-0' }} - {{ pokemon.name | titlecase }}</ion-card-title>
        <ion-label color="medium" class="ion-text-capitalize">{{ pokemon.genus }}</ion-label>
      </ion-card-header>

      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="6">
            <ion-label color="medium">Normal</ion-label>
            <img [src]="pokemon.sprites.other?.['official-artwork']?.front_default" [alt]="pokemon.name" />
          </ion-col>
          <ion-col size="6">
            <ion-label color="medium">Shiny</ion-label>
            <img [src]="pokemon.sprites.other?.['official-artwork']?.front_shiny" [alt]="'Shiny ' + pokemon.name" />
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-button fill="clear" (click)="playCry(pokemon.cries.latest)">
        Ouvir Grito <ion-icon slot="end" name="volume-high-outline"></ion-icon>
      </ion-button>
      
      <ion-card-content>
        <p class="ion-padding-horizontal">{{ pokemon.description }}</p>

        <div class="ion-margin-bottom">
          <ion-chip *ngFor="let typeInfo of pokemon.types" [color]="typeInfo.type.name">
            <ion-label>{{ typeInfo.type.name | titlecase }}</ion-label>
          </ion-chip>
        </div>

        <ion-row class="ion-justify-content-center">
          <ion-col size="6">
            <ion-label color="medium">Altura</ion-label>
            <p><strong>{{ pokemon.height / 10 }} m</strong></p>
          </ion-col>
          <ion-col size="6">
            <ion-label color="medium">Peso</ion-label>
            <p><strong>{{ pokemon.weight / 10 }} kg</strong></p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Atributos Base</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngFor="let stat of pokemon.stats">
            <ion-label class="ion-text-capitalize" slot="start">{{ stat.stat.name.replace('-', ' ') }}</ion-label>
            <ion-badge slot="start" color="light">{{ stat.base_stat }}</ion-badge>
            <ion-progress-bar [value]="stat.base_stat / 255" color="primary"></ion-progress-bar>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="pokemon.evolutionChain">
      <ion-card-header>
        <ion-card-title>Linha Evolutiva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-justify-content-around ion-align-items-center">
          <ng-container *ngFor="let evo of getEvolutionChain(pokemon.evolutionChain); let isLast = last">
            <ion-col size="auto" class="ion-text-center">
              <ion-avatar>
                <img [src]="getEvolutionSpriteUrl(evo.species.name)" [alt]="evo.species.name" />
              </ion-avatar>
              <ion-label class="ion-text-capitalize">{{ evo.species.name }}</ion-label>
            </ion-col>
            <ion-col size="auto" *ngIf="!isLast">
              <ion-icon name="arrow-forward-outline" color="medium"></ion-icon>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Golpes (Moves)</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item lines="full">
          <ion-label>Versão do Jogo</ion-label>
          <ion-select [value]="selectedVersion" placeholder="Selecione" (ionChange)="onVersionChange($event)">
            <ion-select-option *ngFor="let version of gameVersions" [value]="version">
              {{ version.replace('-', ' ') | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div class="table-container ion-margin-top">
          <table>
            <thead>
              <tr>
                <th>Golpe</th>
                <th>Método</th>
                <th>Nível</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let move of filteredMoves">
                <td class="ion-text-capitalize">{{ move.name }}</td>
                <td class="ion-text-capitalize">{{ move.method }}</td>
                <td>{{ move.level > 0 ? move.level : '-' }}</td>
              </tr>
              <tr *ngIf="filteredMoves.length === 0">
                <td colspan="3" class="ion-text-center">Nenhum golpe disponível nesta versão.</td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </ion-card-content>
    </ion-card>
      </ion-content>
    </ng-container>

<ng-template #loading>
  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Carregando...</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-text-center ion-padding">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Buscando dados do Pokémon...</p>
  </ion-content>
</ng-template>