<ion-menu type="overlay" contentId="main-content" menuId="pokedex-list-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Lista de Pokémon</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Buscar em todos os Pokémon..."
      [debounce]="300"
      (ionInput)="handleInput($event)">
    </ion-searchbar>
  </ion-toolbar>

  <ion-content role="feed">
    
    @if (isSearching) {
      <ion-list lines="full">
        @for (pokemon of searchResults; track pokemon.name) {
          <ion-item (click)="onSearchResultSelected(pokemon.name)" button="true" detail="false">
            <ion-label>{{ pokemon.name | titlecase }}</ion-label>
          </ion-item>
        }
        @if (searchResults.length === 0) {
          <ion-item lines="none">
            <ion-label class="ion-text-center ion-padding">
              <p>Nenhum resultado encontrado.</p>
            </ion-label>
          </ion-item>
        }
      </ion-list>

    } @else {
      @if (allLoadedPokemons.length > 0) {
        <app-poke-list
          [pokemons]="allLoadedPokemons"
          (pokemonSelected)="onPokemonSelected($event)">
        </app-poke-list>

        <ion-infinite-scroll
          (ionInfinite)="loadMorePokemonDataForList($event)"
          [disabled]="!hasMorePokemons"
          threshold="250px">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Carregando...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>

      } @else if (!isListLoading) {
        <div class="ion-text-center ion-padding">
          <p>Nenhum Pokémon carregado na lista.</p>
        </div>
      }
    }

  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="pokedex-list-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>PokéDex</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    @if (isLoading && pokemons.length === 0) {
      <div class="ion-text-center ion-padding-top">
        <ion-spinner name="bubbles" aria-label="Carregando Pokémon"></ion-spinner>
        <p>Carregando Pokémon...</p>
      </div>
    } @else if (pokemons.length > 0) {
      <app-poke-grid 
        [pokemons]="pokemons"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
        (pokemonSelected)="onPokemonSelected($event)">
      </app-poke-grid>
    } @else {
      <div class="ion-text-center ion-padding-top">
        <p>Não foi possível carregar os Pokémon. Verifique sua conexão.</p>
      </div>
    }
  </ion-content>
</div>