
ion-split-pane {
  --side-max-width: 320px;
  --side-min-width: 250px;
}


ion-menu {

  --background: var(--menu-background); 

  ion-item {

    --background: transparent;
    border-bottom: 1px solid var(--menu-item-separator-color);
    

    &:last-child {
      border-bottom: none; 
    }
  }

  ion-avatar {
    width: 40px;
    height: 40px;
    margin-inline-end: 12px; 

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


ion-menu-button {
  @media (min-width: 992px) { 
    display: none;
  }
}



ion-card {
  --background: var(--card-background);
  width: 100%; 
  margin-inline: 0;
  margin-bottom: 1.25rem;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--card-hover-box-shadow);
  }
}





