
ion-card.pokemon-card {
  
  position: relative;
}


.favorite-button {
  position: absolute;
  top: 4px;   
  left: 4px;  

  z-index: 10; 
}


.pokemon-id {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.75rem;
  font-weight: 500; 
  color: var(--ion-color-medium);
  padding: 2px 8px;
  border-radius: 10px;


  z-index: 5;
}


.clickable-area {
  cursor: pointer;
}